---
import UserCheck from "../icons/UserCheck.astro"
import TechnologyBadge from "../TechnologyBadge.astro";
import type { Technology } from "./types.d";

import * as techs from "../../data/technologies";

const bornYear = 2007;
const curYear = new Date().getFullYear();
const yearsOld = curYear - bornYear;

const favTechs: Technology[] = [
  techs.c,
  techs.zig,
  techs.rust,
  techs.bash,
  techs.gtk,
  techs.javascript,
  techs.typescript,
  techs.vue,
  techs.nuxtjs,
  techs.nextjs,
  techs.react,
  techs.tailwind,
  techs.bootstrap,
  techs.python,
  techs.django,
  techs.fastapi,
  techs.php,
  techs.laravel,
  techs.unity,
  techs.csharp,
]
---

<div id="aboutme-checkpoint" class="mt-12"></div>

<div class="px-5 md:px-[15%]">
  <h3 class="text-4xl font-semibold flex justify-start items-center gap-x-3">
    <UserCheck size={34} />
    About me
  </h3>

  <div class="[&>p]:mb-4 mt-6">
    <p>
      My name is Franklin Gabriel Guerra, but I am known online as AlphaTechnolog. I began learning programming at the age of 10 and am currently {yearsOld} years old. I am passionate about full-stack web application development, but even if I consider myself fullstack, I'm particularly interested mostly in backend development and cloud. However, I also consider myself proficient in systems programming, with some good experience in certain low levels languages.
    </p>
    <div class="flex flex-col justify-start items-start gap-x-2 mb-4">
      <p>
        Some of the technologies I've experience working with are:
      </p>
      <div class="flex flex-col md:flex-row justify-center md:justify-center md:items-center items-start gap-x-1 gap-y-2 mt-2">
        {favTechs.slice(0, favTechs.length / 2).map((tech: Technology) => (
          <TechnologyBadge tech={tech} />
        ))}
      </div>
      <div class="flex flex-col md:flex-row justify-center md:justify-center md:items-center items-start gap-x-1 gap-y-2 mt-2">
        {favTechs.slice(favTechs.length / 2).map((tech: Technology) => (
          <TechnologyBadge tech={tech} />
        ))}
      </div>
    </div>
    <p>
      Many of my projects aim to solve everyday problems or explore various topics with the goal of expanding my skill set, as I believe that knowledge is best acquired through hands-on experimentation.
    </p>
    <p>
      I am an active member of the open-source community, having contributed to several projects, including recently a project called Cartero, a free and open-source alternative to Postman written in Rust and GTK. I have also created open-source projects that have fostered communities of contributors, such as Decay, a color theme that has been distributed across various applications and projects.
    </p>
    <p>
      Currently, I am venturing into game development, exploring new challenges and expanding my skill set in this exciting field.
    </p>
  </div>
</div>