---
import Code from "../icons/Code.astro"
import Project from "../Project.astro";
import { type Project as IProject, type Technology, Scheme } from "./types.d";

const zig: Technology = {
  name: "Zig",
  color: "#EAA217",
}

const gtk: Technology = {
  name: "Gtk",
  color: "#000000",
  scheme: Scheme.dark,
}

const projects: IProject[] = [
  {
    src: await import("../../assets/projects/harakara-terminal.png"),
    name: "Harakara Terminal",
    simpleDescription: "GTK + Zig based terminal",
    description: "A simple terminal built in zig using gtk and the vte library which supports TOML based configuration and nice features such as font size zoom, copy pasting, etc.",
    code: "https://github.com/AlphaTechnolog/harakara-terminal",
    technologies: [
      zig,
      gtk,
    ],
  }
];
---

<div id="projects" class="px-5 md:px-[15%]">
  <h3 class="text-4xl font-semibold flex justify-start items-center gap-x-3">
    <Code size={34} />
    Projects
  </h3>

  <div class="flex flex-col justify-center items-start w-full gap-y-3 mt-6">
    {projects.map((project: IProject) => (
      <Project project={project} />
    ))}
  </div>
</div>