---
import Code from "../icons/Code.astro"
import Project from "../Project.astro";
import type { Project as IProject } from "./types.d";

import {
  zig,
  gtk,
  c,
  javascript,
  tailwind,
  vue,
} from "../../data/technologies";

const projects: IProject[] = [
  {
    src: await import("../../assets/projects/harakara-terminal.png"),
    name: "Harakara Terminal",
    simpleDescription: "GTK + Zig based terminal",
    description: "A simple terminal built in zig using gtk and the vte library which supports TOML based configuration and nice features such as font size zoom, copy pasting, etc.",
    code: "https://github.com/AlphaTechnolog/harakara-terminal",
    technologies: [
      zig,
      gtk,
    ],
  },
  {
    src: await import("../../assets/projects/file-explorer.png"),
    name: "File explorer",
    simpleDescription: "C89 + JS based file explorer",
    description: "Desktop file explorer for Linux and MacOS made in the c programming language using the c89 stdlib. Using the webview library to make a frontend in fully vanilla javascript with tailwind and html",
    code: "https://github.com/AlphaTechnolog/file-explorer",
    technologies: [
      c,
      javascript,
      tailwind,
    ],
  },
  {
    src: await import("../../assets/projects/vbox-manager.png"),
    name: "VBox Manager",
    description: "Provides a simple web-based solution for remote virtualbox machines management of a server in your lan",
    code: "https://github.com/AlphaTechnolog/vbox-manager-api",
    technologies: [
      vue,
      zig
    ]
  }
];
---

<div id="projects-checkpoint" class="mt-4"></div>

<div class="px-5 md:px-[15%]">
  <h3 class="text-4xl font-semibold flex justify-start items-center gap-x-3">
    <Code size={34} />
    Projects
  </h3>

  <div class="flex flex-col justify-center items-start w-full gap-y-3 mt-6">
    {projects.map((project: IProject) => (
      <Project project={project} />
    ))}
  </div>
</div>