---
const year = new Date().getFullYear();
---

<footer class="px-5 md:px-[15%] pb-10 pt-20 flex justify-center md:justify-between items-center">
  <p>
    &copy; {year} AlphaTechnolog. All rights reserved.
  </p>

  <ul class="hidden md:flex justify-center items-center gap-x-4 [&>li]:list-none">
    <li>
      <button id="scroll-trigger" data-scroll-to="aboutme-checkpoint">
        About me
      </button>
    </li>
    <li>
      <a href="mailto:gfranklings@gmail.com">
        Contact me
      </a>
    </li>
  </ul>
</footer>