---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="AlphaTechnolog's personal website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://github.com/alphatechnolog.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main class="mt-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		@apply font-inter text-base text-black antialiased font-feature-default scroll-smooth;
		@apply bg-gradient-to-br from-indigo-100/80 to-white bg-no-repeat bg-center bg-cover h-full;
	}
</style>